[Desktop Entry]
Name=sipgate softphone
Exec=AppRun %U
Terminal=false
Type=Application
Icon=sipgate-softphone
StartupWMClass=sipgate softphone
X-AppImage-Version=1.16.4
Comment=softphone
MimeType=x-scheme-handler/softphone;x-scheme-handler/tel;x-scheme-handler/callto;
Categories=Office;
